# ====================================================
# TOURSTK BACKEND ENVIRONMENT VARIABLES CONFIGURATION
# Copy these keys into your hosting provider's Environment settings (e.g. Render Dashboard)
# ====================================================

PORT=5000
NODE_ENV=production
MONGO_URI=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/tourstk_db?retryWrites=true&w=majority
JWT_SECRET=tourstk_super_secure_jwt_secret_key_2026_sitakunda
CLIENT_URL=https://your-domain.onrender.com

# Cloudinary CDN Image Uploads
CLOUDINARY_CLOUD_NAME=momem3y4
CLOUDINARY_API_KEY=162993438412542
CLOUDINARY_API_SECRET=qjffHFE5uTDEZNavXRQ4MYCgtSo
